.modal-body{
    background-color: white;
}
.tittle{
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-weight: 400;text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}.data {
    text-align: center;
    font-style: italic;
    text-transform: uppercase;
    color: rgb(247, 0, 0); /* Updated to red */
    -webkit-text-stroke: #6607ffd8;
    -webkit-text-stroke-width: 1px;
    text-shadow: 2px 2px 10px blue;
    transition: all 0.5s ease-in-out;
    text-align: center;
    letter-spacing: 0.2em;
    animation: flicker 0.5s ease-in-out infinite alternate;
  }
  
  @keyframes flicker {
    0% {
      opacity: 0.5;
      text-shadow: 2px 2px 10px rgb(216, 22, 22);
    }
    100% {
      opacity: 1;
      text-shadow: 2px 2px 20px blue;
    }
  }
  
    